.baner {
    background-color: #55C3C4;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

#header-image {
    width: 65px;
    height: 60px;
}

#header-menu {
    display: flex;
    margin-left: auto;
}

.header-menu {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Georgia', 'Times New Roman', serif;
}

.header-menu:first-child {
    margin-left: 0;
}

.header-menu:hover {
    text-decoration: underline;
    color: #FAB23C;
}
/*header*/


body {
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

u{
    text-decoration-thickness: 2px; 
    text-underline-offset: 5px;   
}


main {
    flex: 2;
}

.homepageimg {
    width: 100%;
    height: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*homepage- part 1*/

.aboutus{
    font-size: 21px;
    color: #2c2c2c;
    width:50%;
    padding: 40px;
    float: right;

}
.aboutus-image{
    width: 50%;
    padding-top: 60px;
}

.our_menu{
    padding: 10px;
    text-align: center; 
    vertical-align: middle; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-family: 'Georgia', 'Times New Roman', serif;
    font-weight: bold;
    font-size: 50px; 
    letter-spacing: 3px;
    color: white; 
    text-shadow: 
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px  2px 0 #000,
        2px  2px 0 #000,
        -2px  0px 0 #000,
        2px  0px 0 #000,
        0px -2px 0 #000,
        0px  2px 0 #000; /* Thicker black outline */
        background-color:#55C3C4;
    
}

.flip-card-container {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.flip-card {
    margin:40px;
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

.flip-images {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    transition: all 0.3s ease-in-out;
}
  
  .flip-card-back {
    background-color: #ffffff;
    color: black;
    transform: rotateY(180deg);
    padding: 10px;
    font-family: "KaiTi", "楷体", serif; 
    text-align: center; 
    vertical-align: middle; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu_link{
    color:black; 
    text-decoration: none;
  }


/*homepage- part 2*/

.service-box {
    margin-bottom: 20px;

}

.delivery-service {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;

}

.delivery_word_h3 {
    font-weight: 800;
}

.slide-in-left-1 {
    position: relative;
    animation: slideInLeft 1.5s ease-out;
}

.slide-in-up {
    position: relative;
    animation: slideInUp 1.5s ease-out;
}

.slide-in-left-2 {
    position: relative;
    animation: slideInLeft 2.0s ease-out;
}

.slide-in-left {
    position: relative;
    animation: slideInLeft 2.5s ease-out;
}

.slide-in-left-3 {
    position: relative;
    animation: slideInLeft 3.0s ease-out;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.delivery_word{
    font-weight: 500;
    font-size:20px;
}

.delivery-animation img {
    width: 150px;
    margin-top: 20px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/*homepage- part 3*/

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    background-color: #fff;
    border: 3px solid #f2b04a;
    border-radius: 10px;
    box-shadow: 7px 9px 8px rgb(0 0 0 / 43%);
    overflow: hidden;
    flex-direction: row;
    padding: 20px;
}

.image-container {
    width: 30%;
    
}

.image-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.text-container {
    color: black;
    padding: 10px;
    font-family: "KaiTi", "楷体", serif; 
    font-weight: 600;
    font-size: 500vh;
    width: 70%;
    text-align: center;

}

.text-container h2 {
    font-size: 50px;
    color: #333;
    margin-bottom: 10px;
}

.text-container p {
    font-size: 30px;
    color: #666;
    margin: 0;
}


@media (max-width: 768px) {
    .banner {
        flex-direction: column;
    }

    .image-container, .text-container {
        width: 100%;
        text-align: center;
    }

    .image-container {
        margin-bottom: 20px;
    }
}


/**/

.contacth1 {
    text-decoration: none;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Georgia', 'Times New Roman', serif;
    text-align: center;
   
}

.contact-form-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 70%;
    margin-left: 225px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact-form-section h2 {
    color: #55C3C4;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 20px;
    font-weight: 700;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #FAB23C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    font-weight: 800;
}

button:hover {
    background-color: #e0a22b;
}

/*contact-us page*/

footer{ 
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
}

.footer-ui {
    background-color: #55C3C4;
    align-items: center; 
    padding: 0 10%;
}

.footer-path{
    position: relative;
    color:white;
    font-size: 20px;
    font-weight: bold;
    padding-top:2%;
    text-align: center;
    font-weight: 800;
    font-family: 'Times New Roman';
    font-weight: bold;
    letter-spacing: 3px;
    color: white; 
    text-shadow: 
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px  2px 0 #000,
        2px  2px 0 #000,
        -2px  0px 0 #000,
        2px  0px 0 #000,
        0px -2px 0 #000,
        0px  2px 0 #000; 

}

.link {
    color:white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 1%;

}

.tel{
    color:white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 1%;
}

.footer-button {
    appearance: none;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FAB23C;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem; /* 使用相对单位 rem */
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%; /* 相对宽度，适应各种屏幕 */
    will-change: transform;
    margin-bottom: 20px;
}

.footer-button:disabled {
    pointer-events: none;
}

.footer-button:hover {
    color: #fff;
    background-color: #FAB23C;
    border: 3px solid #FAB23C;
    transform: translateY(-2px);
}

.image-footer{
    width: 400px;;
}

.footer-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.icon {
    width: 40px; 
    height: 40px; 
    background-color: transparent;
    margin-bottom: 3vh;

}

.icon path {
    fill: #4285F4; 
}



/*footer*/
@media (max-width: 1200px) {
    .footer-button {
        width: 25%; /* 自动调整宽度 */
        font-size: 1.2rem; /* 缩小字体大小 */
    }
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 50%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .flip-card-inner {
        height: 83%;
    }


      .flip-card {
        height:300px;
      }

      .text-container p {
        font-size: 25px;
        color: #666;
        margin: 35px;
    }
    .menu_link {
        color: black;
        text-decoration: none;
        margin-top: 100px;
    }
    .aboutus-image {
        width: 100%;
        padding-top: 60px;
    }
    .aboutus {
        font-size: 21px;
        color: #2c2c2c;
        width: 100%;

    }
    .contact-form-section {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 70%;
        margin-left: 100px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .footer-button {
        width: 35%;
        font-size: 1rem;
    }
    
    .image-footer{
        width: 300px;
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 50%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .flip-card-inner{
        height: 58%;
      }

      .delivery_word {
        font-weight: 600;
        font-size: 15px;
        padding: 7px;
    }
    .our_menu{
        font-size: 40px;
    }
      
}

@media (max-width: 480px) {
    .footer-button {
        width: 50%;
        font-size: 0.9rem;
    }
    .aboutus{
        width:100%;
    }

    .flip-card-container {
        display: flex;
        flex-direction: column; /* 让内容按列显示，确保每个卡片在新的一行 */
    }
    
    .flip-card {
        margin: 30px; /* 卡片之间的间距 */
        background-color: transparent;
        width: 90%; /* 设置卡片的宽度为父容器的90% */
        max-width: 400px; /* 限制卡片最大宽度 */

        perspective: 1000px;
    }
    .flip-images {
        width: 100%;
        height: 202%;
    }

    .flip-card-inner{
        height: 100%;
        align-items: center; 
    }

    .contact-form-section {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 70%;
        margin-left: 8vh;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .menu_link {
        color: black;
        text-decoration: none;
        margin-top: 110px;
    }
    .aboutus-image {
        width: 100%;
        padding-top:0px;
    }
}



    
